/* -------------- Fonts -------------- */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

/* ----------------------------------- */


/* ------------- Global -------------- */

:root {
    /* -------- Custom properties -------- */

    --clr-neutral-1: white;
    --clr-neutral-2: chocolate;
    --clr-neutral-3: #FF6A00;
    --clr-neutral-4: rgb(255, 148, 72);
    --clr-neutral-5: #ff6a002a;

    --clr-accent-1: #008CFF;
    --clr-accent-2: #9F00CF;
    --clr-accent-3: #FF0037;
    --clr-accent-4: silver;
    --clr-accent-5: goldenrod;
    --clr-accent-6: cyan;

    --bg-dark-1: black;
    --bg-dark-2: #000000ee;
    --bg-dark-3: #0000007f;
    --bg-dark-4: #d2691e34;
    --bg-dark-5: #000000bf;

    --clr-check: greenyellow;
    --clr-deny: #ff2f2f;

    --font-1: 'Cormorant SC', serif;
    --font-2: 'Great Vibes', cursive;

    --transition-time-1: 0.3s;
    --transition-time-2: 0.5s;

    --border-thickness-1: 0.325rem;
    --border-thickness-2: 0.2rem;

    --line-height: 1.5rem;
    --letter-spacing: 0.2rem;

    /* ----------------------------------- */
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: var(--font-1);
}

body {
    color: var(--clr-neutral-1);
    background-color: var(--bg-dark-1);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-neutral-1);
}

button {
    cursor: pointer;
    font-family: var(--font-1);
}

.highlight-one {
    font-family: var(--font-2);
    font-weight: bold;
    color: var(--clr-neutral-2)
}

.highlight-two {
    font-family: var(--font-2);
    font-weight: bold;
    text-shadow: 0 0 1rem var(--clr-neutral-2);
}

.highlight-three {
    color: var(--text-clr, var(--clr-neutral-2));
}

section {
    position: relative;
    overflow: hidden;
}

.section-title-container {
    position: absolute;
    z-index: 2;
    inset: 0 0 auto;
    background-color: var(--bg-dark-3);
}

.section-title {
    font-size: clamp(1rem, 5vw, 1.8rem);
    padding-block: 1.5rem;
    text-align: center;
}

.slides {
    /* Fallback for browsers that don't support svh */
    min-height: 100vh;
    /* -------------------------------------------- */
    min-height: 100svh;
    position: relative;
}

.slide {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-time-2) ease;
    position: relative;
}

.slide::before {
    position: absolute;
    content: '';
    inset: 0;
    background: var(--bg-dark-3);
}

.slide.active {
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

.slide:not(.active) {
    position: absolute;
}

.slide-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.slide-description-container {
    margin: clamp(12rem, 40vw, 17rem) auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    background-color: var(--bg-dark-3);
    border-radius: 1.25rem;
    position: relative;
    width: min(90%, 1140px);
}

.slide-title {
    text-shadow: 0 0 1rem var(--shadow-clr, var(--clr-neutral-2));
    font-family: var(--font-2);
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin-bottom: 0.25em;
}

.slide-description {
    text-align: justify;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    font-size: clamp(0.75rem, 3vw, 1.125rem);
}

.slider {
    position: absolute;
    inset: 0 auto auto 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: clamp(7rem, 25vw, 10rem) auto;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-3);
    border: var(--border-thickness-1) solid var(--border-clr, var(--clr-neutral-3));
    border-radius: 1.25rem;
    transition: var(--transition-time-1);
    box-shadow: 0 0 0.625rem var(--shadow-clr, var(--clr-neutral-2));

}

.slide-indicators:hover {
    box-shadow: 0 0 1rem var(--shadow-clr, var(--clr-neutral-3));
}

.slide-indicator {
    width: 1.25rem;
    aspect-ratio: 1;
    margin: 0.25rem;
    background-color: var(--clr-neutral-1);
    border: var(--border-thickness-1) double var(--border-clr, var(--clr-neutral-2));
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-time-1);
}

.slide-indicator.checked {
    border-style: solid;
    border-color: var(--border-clr, var(--clr-neutral-3));
    background-color: var(--bg-dark-1);
}

.slide-indicator:hover {
    border-style: solid;
    background-color: var(--bg-dark-1);
}

.slide-options {
    z-index: 1;
    margin-inline: auto;
    display: flex;
    gap: 1.25rem;
}

.slide-options-btn {
    padding: 0.5em 1em;
    margin: 2rem auto 2rem;
    border-radius: 2rem;
    border: var(--border-thickness-2) solid var(--border-clr, var(--clr-neutral-3));
    box-shadow: 0 0 0.625rem var(--shadow-clr, var(--clr-neutral-3));
    background-color: var(--bg-dark-3);
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 1.25rem);
    color: var(--clr-neutral-1);
    transition: 0.3s ease;
    z-index: 0;
}

.slide-options-btn:hover {
    box-shadow: 0 0 1rem var(--shadow-clr, var(--clr-neutral-3));
    transform: scale(1.03);
    color: var(--text-clr, var(--clr-neutral-3));
}

.slide-option-btn--white {
    --shadow-clr: var(--clr-neutral-1);
    --border-clr: var(--clr-neutral-1);
}

.slide-option-btn--white:hover {
    --shadow-clr: var(--clr-neutral-3);
    --text-clr: var(--clr-neutral-3);
    --border-clr: var(--clr-neutral-3);
}

.scroll-btn {
    opacity: 0;
    visibility: hidden;
}

.action-button {
    font-weight: bold;
    font-size: 1.125rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--bg-dark-3);
    border: var(--border-thickness-1) solid var(--border-clr, var(--clr-neutral-3));
    color: var(--clr-neutral-1);
    transition: var(--transition-time-1);
    box-shadow: 0 0 0.625rem var(--shadow-clr, var(--clr-neutral-2));
    margin-inline: clamp(0.25rem, 3vw, 1.25rem)
}

.action-button:hover {
    color: var(--text-clr, var(--clr-neutral-3));
    box-shadow: 0 0 1rem var(--shadow-clr, var(--clr-neutral-3));
}

.controls {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    inset: auto 0 0 auto;
    z-index: 5;
}

.scroll-btn:first-child {
    margin-bottom: -3.5rem;
}

.scroll-btn.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--bg-dark-2);
    display: none;
}

.modal-content {
    background: linear-gradient(90deg, var(--clr-neutral-5), transparent, transparent);
    width: min(90%, 1140px);
    max-height: 90vh;
    margin-inline: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    padding: 2rem;
    overflow-y: scroll;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
}

.modal-title {
    text-align: center;
    font-family: var(--font-2);
    text-shadow: 0 0 1rem var(--shadow-clr, var(--clr-neutral-2));
    font-size: 2rem;
}

.close-modal-btn {
    float: right;
    color: var(--clr-neutral-1);
    background-color: var(--bg-dark-1);
    border: var(--border-thickness-2) solid var(--clr-neutral-3);
    border-radius: 0.75rem;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    font-weight: bold;
    transition: var(--transition-time-1) ease;
}

.close-modal-btn:hover {
    color: var(--clr-neutral-3);
    transform: scale(1.03);
    border-radius: 50%;
}

.drink-content {
    --gap: 2rem;
    --h-offset: 0.75rem;
    --v-offset: 0.75rem;
    --b-radius: 1rem;
    --s-radius: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drink-images {
    display: flex;
    gap: var(--gap);
    margin: 1.25rem 0;
}

.drink-images img {
    border-radius: 0.5rem;
    box-shadow: var(--h-offset) var(--v-offset) var(--b-radius) var(--s-radius) var(--bg-dark-3);
}

.minimized-imgs {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.minimized-imgs img {
    width: 12.5rem;
}

.expanded-img {
    flex: 1;
}

.expanded-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.drink-description {
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    font-size: 0.85rem;
}

.drink-video {
    max-width: 1000px;
    margin: 1rem auto;
}

.drink-video video {
    width: 100%;
    border-radius: 1rem;
    box-shadow: var(--h-offset) var(--v-offset) var(--b-radius) var(--s-radius) var(--bg-dark-3);
}

/* ----------------------------------- */


/* ------------- Header -------------- */

header {
    margin-top: -6.25rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 0 2rem var(--clr-neutral-3);
    background: url('../assets/imgs/coffee-beans.png');
    background-color: var(--bg-dark-1);
    background-size: cover;
    background-position: center;
    transition: var(--transition-time-1);
    border-bottom: var(--border-thickness-2) double var(--clr-neutral-3);
}

header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-dark-3);
}

header:hover {
    box-shadow: 0 0 3.5rem var(--clr-neutral-3);
    border-bottom-style: solid;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 1140px);
    margin: auto;
    min-height: 6.25rem;
    z-index: 10;
}

.main-nav .title {
    font-family: var(--font-2);
    font-size: clamp(1rem, 6vw, 1.5rem);
    font-weight: bold;
    padding: 0.25rem 1rem;
    color: var(--clr-neutral-1);
    border: var(--border-thickness-1) double var(--clr-neutral-3);
    border-left: none;
    border-radius: 1.25rem;
    margin-left: -0.25rem;
    transition: var(--transition-time-1);
}

.main-nav .title:hover {
    border-style: solid;
    border-left: none;
    box-shadow: 0 0 1rem var(--clr-neutral-3);
    color: var(--clr-neutral-3);
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title-img {
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    border: var(--border-thickness-1) solid var(--clr-neutral-3);
    border-radius: 50%;
    pointer-events: none;
}

.title-img {
    box-shadow: 0 0 1rem var(--clr-neutral-3);
}

.main-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0.25rem;
    z-index: 1;
}

.main-nav-list>* {
    padding: 0.25rem 0.5rem;
    border: var(--border-thickness-1) double var(--clr-neutral-2);
    border-radius: 50%;
    transition: var(--transition-time-1);
    cursor: pointer;
}

.main-nav-list>*:hover {
    box-shadow: 0 0 1rem var(--clr-neutral-2);
    border-style: solid;
}

.main-nav-list i {
    float: left;
    color: var(--clr-neutral-4);
    margin: 0.125rem 0.25rem 0.125rem 0;
    font-size: 1rem;
    transition: var(--transition-time-1);
}

.main-nav-list a {
    font-family: var(--font-2);
    font-weight: bold;
    transition: var(--transition-time-1);
}

.main-nav-list>*:hover a {
    color: var(--clr-neutral-4);
    font-size: 1.25rem;
}

.main-nav-list .plans {
    color: var(--clr-neutral-3);
    border: var(--border-thickness-1) solid var(--clr-neutral-3);
    box-shadow: 0 0 1rem var(--clr-neutral-3);
    transition: var(--transition-time-1);
}

.main-nav-list .plans:hover {
    box-shadow: 0 0 1.25rem var(--clr-neutral-3);
    border-color: var(--clr-neutral-3);
}

.main-nav-list .plans a {
    transition: var(--transition-time-1);
    color: var(--clr-neutral-3);
}

.main-nav-list .plans i {
    color: var(--clr-neutral-3);
}

.main-nav-list .plans:hover a,
.main-nav-list .plans:hover i {
    color: var(--clr-neutral-3);
}

.hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--clr-neutral-3);
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    transition: var(--transition-time-1);
    padding: 0.25rem 0.5rem;
}

.hamburger-menu:hover {
    background-color: var(--bg-dark-4);
    border-radius: 50%;
}

/* ----------------------------------- */


/* ------------ Showcase ------------- */

.showcase {
    margin-top: 6.25rem;
}

/* ----------------------------------- */


/* ------------- Drinks -------------- */

.drinks {
    background: url('../assets/imgs/coffee-background.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3rem var(--clr-neutral-2);
    border-top: var(--border-thickness-2) double var(--clr-neutral-2);
}

.drinks::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-dark-3);
}

.drinks-content {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drinks-list {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    margin: 6.25rem auto 1.5rem;
    transition: var(--transition-time-1);
    position: absolute;
    left: 0;
}

.drink {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 12.5rem;
    padding: 0.625rem;
    margin-block: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--bg-dark-3);
    box-shadow: 0.625rem 0.625rem 1.25rem var(--bg-dark-1);
    position: relative;
    transition: var(--transition-time-1);
    cursor: pointer;
}

.drink::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-dark-3);
    border-radius: inherit;
    z-index: 1;
    opacity: 0;
    transition: var(--transition-time-1);
}

.drinks-list:hover {
    backdrop-filter: blur(0.625rem);
}

.drinks .drink-title {
    font-family: var(--font-2);
    font-size: 2rem;
    text-shadow: 0 0 0.625rem var(--clr-neutral-3);
    position: absolute;
    z-index: 1;
    padding: 0.625rem 1rem;
    background-color: var(--bg-dark-3);
    border-radius: inherit;
}

.drink:hover {
    transform: scale(1.04) rotate(-5deg);
}

.drink:hover::before {
    opacity: 1;
}

.drink img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

/* ----------------------------------- */


/* --------- Special drinks ---------- */

.special-drinks {
    border-top: var(--border-thickness-2) double var(--clr-accent-1);
}

.special-slide:not(.active) {
    position: absolute;
}

.special-one {
    --text-clr: var(--clr-accent-1);
    --shadow-clr: var(--clr-accent-1);
    --border-clr: var(--clr-accent-1);
}

.special-two {
    --text-clr: var(--clr-accent-2);
    --shadow-clr: var(--clr-accent-2);
}

.special-three {
    --text-clr: var(--clr-accent-3);
    --shadow-clr: var(--clr-accent-3);
}

.special-indicators,
.special-action-button {
    --text-clr: var(--clr-accent-1);
    --shadow-clr: var(--clr-accent-1);
    --border-clr: var(--clr-accent-1);
}

/* ----------------------------------- */


/* ------------- Plans --------------- */

.plans-section {
    /* Fallback for browsers that don't support svh */
    min-height: 100vh;
    /* -------------------------------------------- */
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-dark-4);
}

.plan-cards {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1140px;
}

.plan-card {
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 50vh;
    max-width: 300px;
    transition: var(--transition-time-1) ease;
    box-shadow: 0.5rem 0.5rem 1rem black;
}

.plan-card:hover {
    transform: scale(1.03);
}

.plan-card:before {
    content: '';
    position: absolute;
    z-index: 1;
    inset: 0;
    border-radius: inherit;
    background-color: var(--bg-dark-5);
}

.plan-card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.plan-card .fa-check {
    color: var(--clr-check);
}

.plan-card .fa-times {
    color: var(--clr-deny)
}

.plan-card-title {
    text-align: center;
    position: relative;
    z-index: 1;
    border-bottom: var(--border-thickness-2) solid var(--border-clr);
    padding: 1rem 0;
    font-family: var(--font-2);
    font-size: 2rem;
    text-shadow: 0 0 1rem var(--shadow-clr);
}

.plan-card-list {
    position: relative;
    z-index: 1;
    margin: 1rem 0;
}

.plan-card-list li {
    margin: 0.5rem 0;
}

.silver {
    --shadow-clr: var(--clr-accent-4);
    --border-clr: var(--clr-accent-4);
}

.gold {
    --shadow-clr: var(--clr-accent-5);
    --border-clr: var(--clr-accent-5);
}

.diamond {
    --shadow-clr: var(--clr-accent-6);
    --border-clr: var(--clr-accent-6);
}

.plan-card-btns {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.plan-card-btn {
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--clr-neutral-3);
    font-size: 1.25rem;
    border-radius: 0.25rem;
    color: var(--clr-neutral-1);
    background-color: var(--bg-dark-3);
}

.plan-card-btn:nth-child(3) {
    border-radius: 50%;
    font-size: 1rem;
    color: var(--clr-neutral-3);
    padding: 0.4rem;
}

/* ----------------------------------- */


/* ------------- Footer -------------- */

footer {
    background: url('../assets/imgs/coffee-beans.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 6.25rem;
    position: relative;
    box-shadow: 0 0 3rem var(--clr-neutral-2);
    z-index: 1;
    transition: var(--transition-time-1);
}

footer:hover {
    box-shadow: 0 0 55px var(--clr-neutral-3);
}

.footer-nav {
    position: relative;
    padding: 0.25rem;
}

.footer-nav::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-dark-3);
    z-index: 1;
    border-top: var(--border-thickness-2) double var(--clr-neutral-2);
}

.footer-nav:hover::before {
    border-top-style: solid;
    border-top-color: var(--clr-neutral-3);
}

.footer-nav-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0.25rem;
    margin: 0.625rem;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: clamp(0rem, 2vw, 2rem);
    font-size: clamp(0.8rem, 3vw, 1rem);
}

.footer-nav-list a {
    transition: var(--transition-time-1);
}

.footer-nav-list a:hover {
    color: var(--clr-neutral-2);
    text-shadow: 0 0 0.625rem var(--clr-neutral-2);
    font-weight: bold;
    font-size: clamp(0.85rem, 3vw, 1.125rem);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 1.25rem;
    margin-inline: 1rem;
}

.social .fa-apple {
    font-size: 1.5rem;
}

.footer-nav-list li,
.social li {
    padding: 0.25rem;
}

.social a {
    color: var(--clr-neutral-2);
    padding: 0.25rem;
    border-radius: 0.625rem;
    transition: text-shadow 0.3s;
}

.social a:hover {
    text-shadow: 0 0 1rem var(--clr-neutral-2);
}

.social li:nth-child(3) {
    border-right: var(--border-thickness-2) solid var(--clr-neutral-2);
    padding-right: 0.625rem;
    margin-right: 0.25rem;
}

.copy-message {
    display: inline-block;
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 1.25rem;
    background-color: var(--bg-dark-3);
    position: relative;
    z-index: 1;
    font-size: clamp(0.85rem, 3vw, 1rem);
}

/* ----------------------------------- */


/* ---------- Media queries ---------- */

@media (max-width: 800px) {
    .hamburger-menu {
        display: inline;
    }

    .main-nav-list {
        position: absolute;
        inset: 0;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        gap: 2rem;
        background: url('../assets/imgs/coffee-beans.png');
        background-color: var(--bg-dark-1);
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        transition: var(--transition-time-1);
    }

    .main-nav-list::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--bg-dark-3);
        z-index: -1;
    }

    .main-nav-list.visible {
        left: 0;
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    .main-nav-list li {
        width: min(75%, 350px);
        text-align: center;
        border-radius: 0.625rem;
        background-color: var(--bg-dark-2);
    }

    .main-nav-list i {
        margin-right: 0;
    }
}

/* ----------------------------------- */