:root {
    /* --------- Default colors ---------- */
    --clr-neutral-1: hsl(0, 0%, 100%);
    --clr-neutral-2: hsl(25, 75%, 47%);
    --clr-neutral-3: hsl(25, 100%, 50%);
    --clr-neutral-4: hsl(25, 100%, 64%);
    --clr-neutral-5: hsla(25, 100%, 50%, 0.165);
    --clr-neutral-6: hsl(0, 0%, 0%);
    --clr-neutral-7: hsla(25, 88%, 38%, 0.75);
    --clr-neutral-8: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-9: hsla(25, 88%, 38%, 0.35);
    --clr-neutral-10: hsl(0, 0%, 30%);
    --clr-neutral-11: hsl(0, 0%, 50%);
    --clr-neutral-12: hsl(14, 100%, 50%);
    --clr-neutral-13: hsl(25, 100%, 60%);
    /* ----------------------------------- */

    /* --------- Special colors ---------- */
    --clr-accent-1: hsl(207, 100%, 50%);
    --clr-accent-2: hsl(286, 100%, 41%);
    --clr-accent-3: hsl(347, 100%, 50%);
    --clr-accent-4: hsl(0, 0%, 75%);
    --clr-accent-5: hsl(43, 74%, 49%);
    --clr-accent-6: hsl(180, 100%, 50%);
    --clr-accent-7: hsl(39, 100%, 50%);
    --clr-accent-8: hsl(207, 100%, 65%);
    --clr-accent-9: hsl(286, 100%, 65%);
    --clr-accent-10: hsl(347, 100%, 65%);

    --clr-check: hsl(84, 100%, 59%);
    --clr-deny: hsl(0, 100%, 59%);
    /* ----------------------------------- */

    /* -------- Background colors -------- */
    --bg-dark-1: hsl(0, 0%, 0%);
    --bg-dark-2: hsla(0, 0%, 0%, 0.933);
    --bg-dark-3: hsla(0, 0%, 0%, 0.498);
    --bg-dark-4: hsla(25, 75%, 47%, 0.204);
    --bg-dark-5: hsla(0, 0%, 0%, 0.749);
    --bg-dark-6: hsla(0, 0%, 0%, 0.35);
    --bg-dark-7: hsla(25, 75%, 47%, 0.11);
    --bg-dark-8: hsla(28, 100%, 6%, 0.678);
    --bg-dark-9: hsla(28, 100%, 10%, 0.678);
    --bg-dark-10: hsla(0, 0%, 0%, 0.801);
    /* ----------------------------------- */

    /* -------------- Fonts -------------- */
    --font-1: 'Cormorant SC', serif;
    --font-2: 'Great Vibes', cursive;
    /* ----------------------------------- */

    /* -------------- Misc --------------- */
    --transition-time-1: 300ms;
    --transition-time-2: 500ms;

    --border-thickness-1: 5px;
    --border-thickness-2: 3px;
    --border-thickness-3: 1px;
    --border-thickness-4: 2px;

    --line-height: 1.5;
    --letter-spacing: 3px;

    --wrapper-width: 90%;
    --wrapper-max-width: 71.25rem;
    /* ----------------------------------- */
}