@media (max-width: 50rem) {
    .main-nav__title {
        /* Fallbacks */
        font-size: 1.5rem;

        font-size: clamp(1rem, 0.8448275862068966rem + 0.9195402298850575vw, 1.5rem);
        visibility: visible;
        transform: translateX(0) scaleX(1);
    }

    .main-nav__hamburger-menu {
        display: inline;
    }

    .main-nav__list {
        /* Fallbacks */
        min-height: 100vh;

        justify-content: center;
        flex-direction: column;
        gap: 0;
        min-height: 100svh;
        position: absolute;
        inset: 0;
        z-index: 1;
        background: url('../../assets/imgs/coffee-beans.png');
        background-color: var(--bg-dark-1);
        transform: translateX(100vw);
        transition: var(--transition-time-2);
    }

    .main-nav__list::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--bg-dark-5);
    }

    .main-nav__list.visible {
        display: flex;
        left: 0;
        transform: translateX(0);
    }

    .main-nav__list-item {
        width: min(75%, 21.875rem);
        text-align: center;
        border-top: var(--border-thickness-3) solid var(--clr-neutral-4);
        padding: 10px 5px;
    }

    .main-nav__list-item:hover {
        border-top-color: var(--clr-neutral-3);
        border-bottom-color: transparent;
    }

    .main-nav__list-item:last-child {
        border-bottom: var(--border-thickness-3) solid var(--clr-neutral-4);
    }

    .current {
        border-top-color: var(--clr-neutral-3);
        border-bottom-width: var(--border-thickness-3);
        border-bottom-color: transparent;
    }

    .main-nav__list-icon {
        margin-right: 0;
    }

    .main-nav__btns {
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 1;
        transform: translateX(100vw);
        transition: var(--transition-time-2);
    }

    .main-nav__btns.visible {
        transform: translateX(0);
    }
}

@media (min-width: 33.75rem) {
    .plans-section__cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .plans-section__card {
        grid-row: 1 / 2;
    }

    .plans-section__card--silver-plan {
        grid-column: 1 / 3;
    }

    .plans-section__card--silver-plan:hover {
        transform: scale(1.15) translateX(2rem);
    }

    .plans-section__card--diamond-plan {
        transform: scale(1.1);
        grid-column: 2 / 4;
    }

    .plans-section__card--diamond-plan:hover {
        transform: scale(1.15);
    }

    .plans-section__card--gold-plan {
        grid-column: 3 / 5;
    }

    .plans-section__card--gold-plan:hover {
        transform: scale(1.15) translateX(-2rem);
    }
}