@media (max-width: 50rem) {
    .main-nav__hamburger-menu {
        display: inline;
    }

    .main-nav__list {
        /* Fallbacks */
        min-height: 100vh;

        min-height: 100svh;
        position: absolute;
        z-index: 1;
        inset: 0;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        background: url('../../assets/imgs/coffee-beans.png');
        background-color: var(--bg-dark-1);
        justify-content: center;
        transition: var(--transition-time-1);
    }

    .main-nav__list::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--bg-dark-5);
        z-index: -1;
    }

    .main-nav__list.visible {
        left: 0;
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    .main-nav__list-item {
        width: min(75%, 21.875rem);
        text-align: center;
        border-top: var(--border-thickness-3) solid var(--clr-neutral-4);
    }

    .main-nav__list-item:hover {
        border-top-color: var(--clr-neutral-3);
    }

    .main-nav__list-item--plans {
        border-bottom: var(--border-thickness-3) solid;
        border-color: var(--clr-neutral-3);
    }

    .main-nav__list-icon {
        margin-right: 0;
    }

    .main-nav__btns {
        position: absolute;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition-time-1);
    }

    .main-nav__btns.visible {
        visibility: visible;
        opacity: 1;
    }
}