/* --------- Global classes ---------- */

.highlight-one {
    font-family: var(--font-2);
    font-weight: bold;
    color: var(--clr-neutral-2)
}

.highlight-two {
    font-family: var(--font-2);
    font-weight: bold;
    text-shadow: 0 0 16px var(--clr-neutral-2);
}

.highlight-three {
    color: var(--text-clr, var(--clr-neutral-2));
}

.scroll-btn {
    opacity: 0;
    visibility: hidden;
}

.action-button {
    font-weight: bold;
    font-size: 1.125rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--bg-dark-3);
    border: var(--border-thickness-1) solid var(--border-clr, var(--clr-neutral-3));
    border-top-color: transparent;
    border-bottom-color: transparent;
    color: var(--clr-neutral-1);
    transition: var(--transition-time-1);
}

.action-button:hover {
    color: var(--text-clr, var(--clr-neutral-3));
    box-shadow: 0 0 16px var(--shadow-clr, var(--clr-neutral-3));
    border-top-color: var(--clr-neutral-3);
    border-bottom-color: var(--clr-neutral-3);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    position: fixed;
    inset: auto 0 0 auto;
    z-index: 5;
    background-color: var(--bg-dark-2);
}

.scroll-btn:first-child {
    margin-bottom: -3.5rem;
}

.scroll-btn.active {
    opacity: 1;
    visibility: visible;
}

/* ----------------------------------- */


/* ------------- Header -------------- */

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: var(--bg-dark-6);
    box-shadow: 0 0 50px 30px var(--bg-dark-2);
    border-bottom: var(--border-thickness-3) solid var(--clr-neutral-10);
    transition: var(--transition-time-1);
}

header:hover {
    border-bottom-color: var(--clr-neutral-3);
    backdrop-filter: blur(15px);
}

.main-nav {
    margin: auto;
}

.main-nav__branding {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.main-nav__img-logo {
    width: clamp(2.5rem, 2.3448275862068964rem + 0.9195402298850575vw, 3rem);
    height: clamp(2.5rem, 2.3448275862068964rem + 0.9195402298850575vw, 3rem);
    padding: 0.25rem;
    border: var(--border-thickness-1) solid var(--clr-neutral-3);
    border-radius: 50%;
    pointer-events: none;
    position: relative;
    z-index: 1;
    background-color: black;
}

.main-nav__title {
    display: inline-block;
    font-size: 0;
    font-family: var(--font-2);
    font-weight: bold;
    color: var(--clr-neutral-1);
    border: var(--border-thickness-1) double var(--clr-neutral-3);
    border-left: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: clamp(0, 2px - 0.5vw, 2px);
    margin-left: -4px;
    visibility: hidden;
    transform: translateX(-60%) scaleY(0.75) scaleX(0.1);
    transition: var(--transition-time-2) ease;
}

.main-nav__branding:hover .main-nav__title {
    /* Fallbacks */
    font-size: 1.5rem;

    font-size: clamp(1rem, 0.8448275862068966rem + 0.9195402298850575vw, 1.5rem);
    visibility: visible;
    transform: translateX(0) scaleX(1);
}

.main-nav__title:hover {
    border-style: solid;
    border-left: none;
    box-shadow: 0 0 16px var(--clr-neutral-3);
    color: var(--clr-neutral-3);
}

.main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5.5rem;
    margin-inline: auto;
    width: min(var(--wrapper-width), var(--wrapper-max-width));
}

.main-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main-nav__list-item {
    padding: 4px 0;
    transition: var(--transition-time-1);
    cursor: pointer;
    border-bottom: var(--border-thickness-4) solid transparent;
    transition: var(--transition-time-1);
}

.current {
    border-bottom-color: var(--clr-neutral-3);
}

.current a,
.current i {
    color: var(--clr-neutral-3);
}

.main-nav__list-item:hover {
    border-bottom-color: var(--clr-neutral-3);
}

.main-nav__link {
    font-family: var(--font-1);
    font-weight: bold;
    transition: var(--transition-time-1);
}

.main-nav__icon {
    float: left;
    color: var(--clr-neutral-4);
    margin-right: 0.25rem;
    transition: var(--transition-time-1);
}

.main-nav__list-item:hover .main-nav__link,
.main-nav__list-item:hover .main-nav__icon {
    color: var(--clr-neutral-3);
}

.main-nav__btn {
    background-color: transparent;
    color: var(--clr-neutral-4);
    border: none;
    transition: var(--transition-time-1);
    font-size: 1rem;
}

.main-nav__btn:hover {
    color: var(--clr-neutral-3);
}

.main-nav__hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--clr-neutral-3);
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    transition: var(--transition-time-1);
    padding: 0.25rem 0.5rem;
}

.main-nav__hamburger-menu:hover {
    background-color: var(--bg-dark-4);
    border-radius: 50%;
}

/* ----------------------------------- */


/* ------------- Footer -------------- */

footer {
    background: url('../../assets/imgs/coffee-beans.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 6.25rem;
    position: relative;
    box-shadow: 0 0 48px var(--clr-neutral-2);
    z-index: 1;
    transition: var(--transition-time-1);
}

footer:hover {
    box-shadow: 0 0 55px var(--clr-neutral-3);
}

.footer-nav {
    position: relative;
    padding: 0.25rem;
}

.footer-nav::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-dark-3);
    z-index: 1;
    border-top: var(--border-thickness-2) double var(--clr-neutral-2);
}

.footer-nav:hover::before {
    border-top-style: solid;
    border-top-color: var(--clr-neutral-3);
}

.footer-nav-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0.25rem;
    margin: 0.625rem;
}

.footer-nav-list {
    /* Fallbacks */
    font-size: 0.8125rem;

    font-size: clamp(0.8125rem, 0.7543103448275862rem + 0.3448275862068966vw, 1rem);
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: clamp(0rem, 2vw, 2rem);
}

.footer-nav-list a {
    transition: var(--transition-time-1);
}

.footer-nav-list a:hover {
    /* Fallbacks */
    font-size: 0.8125rem;

    font-size: clamp(0.8125rem, 0.7155172413793104rem + 0.5747126436781609vw, 1.125rem);
    color: var(--clr-neutral-2);
    text-shadow: 0 0 10px var(--clr-neutral-2);
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 1.25rem;
    margin-inline: 1rem;
}

.social .fa-apple {
    font-size: 1.5rem;
}

.footer-nav-list li,
.social li {
    padding: 0.25rem;
}

.social a {
    color: var(--clr-neutral-2);
    padding: 0.25rem;
    border-radius: 10px;
    transition: text-shadow 0.3s;
}

.social a:hover {
    text-shadow: 0 0 16px var(--clr-neutral-2);
}

.social li:nth-child(3) {
    border-right: var(--border-thickness-2) solid var(--clr-neutral-2);
    padding-right: 0.625rem;
    margin-right: 0.25rem;
}

.copy-message {
    /* Fallbacks */
    font-size: 0.8125rem;

    font-size: clamp(0.8125rem, 0.7543103448275862rem + 0.3448275862068966vw, 1rem);
    display: inline-block;
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 20px;
    background-color: var(--bg-dark-3);
    position: relative;
    z-index: 1;
}

/* ----------------------------------- */