/* --------- Global classes ---------- */

.highlight-one {
    font-family: var(--font-2);
    font-weight: bold;
    color: var(--clr-neutral-2)
}

.highlight-two {
    font-family: var(--font-2);
    font-weight: bold;
    text-shadow: 0 0 1rem var(--clr-neutral-2);
}

.highlight-three {
    color: var(--text-clr, var(--clr-neutral-2));
}

.scroll-btn {
    opacity: 0;
    visibility: hidden;
}

.action-button {
    font-weight: bold;
    font-size: 1.125rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--bg-dark-3);
    border: var(--border-thickness-1) solid var(--border-clr, var(--clr-neutral-3));
    color: var(--clr-neutral-1);
    transition: var(--transition-time-1);
    box-shadow: 0 0 0.625rem var(--shadow-clr, var(--clr-neutral-2));
    margin-inline: clamp(0.25rem, 3vw, 1.25rem)
}

.action-button:hover {
    color: var(--text-clr, var(--clr-neutral-3));
    box-shadow: 0 0 16px var(--shadow-clr, var(--clr-neutral-3));
}

.controls {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: fixed;
    inset: auto 0 0 auto;
    z-index: 5;
}

.scroll-btn:first-child {
    margin-bottom: -3.5rem;
}

.scroll-btn.active {
    opacity: 1;
    visibility: visible;
}

/* ----------------------------------- */


/* ------------- Header -------------- */

header {
    margin-top: -6.25rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 0 32px var(--clr-neutral-3);
    background: url('../../assets/imgs/coffee-beans.png');
    background-color: var(--bg-dark-1);
    background-size: cover;
    background-position: center;
    transition: var(--transition-time-1);
    border-bottom: var(--border-thickness-2) double var(--clr-neutral-3);
}

header::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-dark-3);
}

header:hover {
    box-shadow: 0 0 3.5rem var(--clr-neutral-3);
    border-bottom-style: solid;
}

.main-nav {
    margin: auto;
    position: relative;
    z-index: 10;
}

.main-nav__title {
    font-family: var(--font-2);
    font-size: clamp(1rem, 6vw, 1.5rem);
    font-weight: bold;
    padding: 0.25rem 1rem;
    color: var(--clr-neutral-1);
    border: var(--border-thickness-1) double var(--clr-neutral-3);
    border-left: none;
    border-radius: 1.25rem;
    margin-left: -0.25rem;
    transition: var(--transition-time-1);
}

.main-nav__title:hover {
    border-style: solid;
    border-left: none;
    box-shadow: 0 0 16px var(--clr-neutral-3);
    color: var(--clr-neutral-3);
}

.main-nav__branding {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main-nav__img-logo {
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    border: var(--border-thickness-1) solid var(--clr-neutral-3);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 16px var(--clr-neutral-3);
}

.main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6.25rem;
    margin-inline: auto;
    width: min(var(--wrapper-width), var(--wrapper-max-width));
}

.main-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.main-nav__list-item {
    padding: 0.5em;
    transition: var(--transition-time-1);
    cursor: pointer;
}

.main-nav__link {
    font-family: var(--font-1);
    font-weight: bold;
    transition: var(--transition-time-1);
}

.main-nav__icon {
    float: left;
    color: var(--clr-neutral-4);
    margin-right: 0.25rem;
    transition: var(--transition-time-1);
}

.main-nav__list-item:hover .main-nav__link,
.main-nav__list-item:hover .main-nav__icon {
    color: var(--clr-neutral-3);
}

.main-nav__list-item--plans {
    color: var(--clr-neutral-3);
    transition: var(--transition-time-1);
}

.main-nav__link--plans {
    transition: var(--transition-time-1);
    color: var(--clr-neutral-3);
}

.main-nav__icon--plans {
    color: var(--clr-neutral-3);
}

.main-nav__btn {
    background-color: transparent;
    color: var(--clr-neutral-4);
    border: none;
    transition: var(--transition-time-1);
}

.main-nav__list-item:hover {
    transform: scale(1.05);
}

.main-nav__btn:hover {
    transform: scale(1.05);
    color: var(--clr-neutral-3);
}

.main-nav__hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--clr-neutral-3);
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    transition: var(--transition-time-1);
    padding: 0.25rem 0.5rem;
}

.main-nav__hamburger-menu:hover {
    background-color: var(--bg-dark-4);
    border-radius: 50%;
}

/* ----------------------------------- */


/* ------------- Footer -------------- */

footer {
    background: url('../../assets/imgs/coffee-beans.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 6.25rem;
    position: relative;
    box-shadow: 0 0 3rem var(--clr-neutral-2);
    z-index: 1;
    transition: var(--transition-time-1);
}

footer:hover {
    box-shadow: 0 0 55px var(--clr-neutral-3);
}

.footer-nav {
    position: relative;
    padding: 0.25rem;
}

.footer-nav::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-dark-3);
    z-index: 1;
    border-top: var(--border-thickness-2) double var(--clr-neutral-2);
}

.footer-nav:hover::before {
    border-top-style: solid;
    border-top-color: var(--clr-neutral-3);
}

.footer-nav-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0.25rem;
    margin: 0.625rem;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: clamp(0rem, 2vw, 2rem);
    font-size: clamp(0.8rem, 3vw, 1rem);
}

.footer-nav-list a {
    transition: var(--transition-time-1);
}

.footer-nav-list a:hover {
    color: var(--clr-neutral-2);
    text-shadow: 0 0 0.625rem var(--clr-neutral-2);
    font-weight: bold;
    font-size: clamp(0.85rem, 3vw, 1.125rem);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 1.25rem;
    margin-inline: 1rem;
}

.social .fa-apple {
    font-size: 1.5rem;
}

.footer-nav-list li,
.social li {
    padding: 0.25rem;
}

.social a {
    color: var(--clr-neutral-2);
    padding: 0.25rem;
    border-radius: 0.625rem;
    transition: text-shadow 0.3s;
}

.social a:hover {
    text-shadow: 0 0 1rem var(--clr-neutral-2);
}

.social li:nth-child(3) {
    border-right: var(--border-thickness-2) solid var(--clr-neutral-2);
    padding-right: 0.625rem;
    margin-right: 0.25rem;
}

.copy-message {
    display: inline-block;
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 1.25rem;
    background-color: var(--bg-dark-3);
    position: relative;
    z-index: 1;
    font-size: clamp(0.85rem, 3vw, 1rem);
}

/* ----------------------------------- */