.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    position: fixed;
    inset: auto 0 0 auto;
    z-index: 5;
    background-color: var(--bg-dark-2);
    overflow: visible;
}

.controls__scroll-btn {
    opacity: 0;
    visibility: hidden;
}

.controls__scroll-btn:first-child {
    margin-bottom: -3.5rem;
}

.controls__scroll-btn.active {
    opacity: 1;
    visibility: visible;
}