.menu {
    /* Fallbacks */
    min-height: 100vh;

    min-height: 100svh;
    box-shadow: 0 0 48px var(--clr-neutral-2);
    border-top: var(--border-thickness-2) double var(--clr-neutral-2);
    background: linear-gradient(90deg, var(--bg-dark-1), var(--clr-neutral-5), var(--bg-dark-1));
}

.menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 50px auto;
}

.menu__carousel {
    position: relative;
}

.menu__drinks {
    grid-auto-columns: 100%;
    padding: 25px 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 var(--gap);
}

.menu__slider-btn {
    background-color: var(--bg-dark-3);
    backdrop-filter: blur(10px);
    color: var(--clr-neutral-1);
    font-size: 20px;
    padding: 0 16px;
    border: none;
    position: absolute;
    z-index: 5;
}

.menu__slider-btn.prev {
    inset: 0 auto 0 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 15px 0 25px 25px var(--bg-dark-2);
}

.menu__slider-btn.next {
    inset: 0 0 0 auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -15px 0 25px 25px var(--bg-dark-2);
}

.menu__drinks,
.menu__card-list {
    --gap: 10px;

    display: grid;
    grid-auto-flow: column;
    gap: var(--gap);
}

.menu__card-list {
    grid-auto-columns: 1fr;
    gap: var(--gap);
    /* border: 3px solid limegreen; */
}

.menu__card-list:has(:hover)>.menu__card:not(:hover),
.menu__card-list:has(:hover)~.menu__card-list>.menu__card:not(:hover),
.menu__card-list:has(~ .menu__card-list:hover)>.menu__card:not(:hover) {
    transform: scale(0.9);
    opacity: 0.8;
}

.menu__card {
    position: relative;
    border-radius: 10px;
    min-height: 250px;
    cursor: pointer;
    transition: var(--transition-time-1);
    box-shadow: 10px 10px 10px var(--bg-dark-3);
}

.menu__card-title {
    /* Fallbacks */
    font-size: 1rem;

    font-size: clamp(1rem, 0.6896551724137931rem + 1.839080459770115vw, 2rem);
    font-family: var(--font-2), 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px var(--clr-neutral-3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    padding: 10px 16px;
    background-color: var(--bg-dark-3);
    border-radius: inherit;
}

.menu__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.menu__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-9);
    padding: 10px 0;
    margin-bottom: 50px;
    border-radius: 25px;
    width: 100%;
    box-shadow: 10px 10px 10px var(--bg-dark-3);
}

.menu__search-bar {
    position: relative;
}

.menu__search-label {
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--clr-neutral-1);
    font-weight: bold;
    padding: 5px;
    cursor: text;
}

.menu__search-input {
    background-color: var(--bg-dark-5);
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px 35px 10px 10px;
    color: var(--clr-neutral-1);
    border: var(--border-thickness-4) solid var(--clr-neutral-3);
}

.menu__search-btn {
    background-color: transparent;
    font-size: 1rem;
    color: var(--clr-neutral-3);
    border: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}